.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.125em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* header */
.main-header {
  border-bottom: 1px solid #e7e9fc;
}

.div-header {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.page-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}

.header-logo:focus {
  color: #404bbf;
}

.header-logo .accent {
  color: #2e2f42;
}

.accent:hover {
  color: #404bbf;
}

.list-header {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.list-header::before {
  color: #2e2f42;
}

.list-header:hover:after {
  color: #404bbf;
  text-decoration: underline;
}

.header-link {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
  color: #404bbf;
}

.contacts-link {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.address {
  display: flex;
  gap: 40px;
}

.address:focus {
  color: #404bbf;
}
/* hero */
.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-title {
  color: #fff;
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-button {
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  border: none;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;

  margin: 0 auto;
  padding: 16px 32px;
  display: block;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* benefits */
.benefits {
  padding: 120px 0;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-benefits {
  width: calc((100% - 72px) / 4);
}

.benefits-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.benefits-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section-title Our Team */
.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.list-item-text {
  padding: 32px 0;
}

.person-name {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.person-job {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-team-person {
  background-color: #fff;
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-section-portfolio p {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.our-section-portfolio h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* Our Portfolio */
.portfolio {
  padding: 120px 0;
}

.portfolio-work {
  margin-bottom: 8px;
}

.section-title {
  line-height: 1.11;
  font-size: 36px;
  margin-bottom: 72px;
}

.our-section-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.list-portfolio {
  background: #fff;
  width: calc((100% - 48px) / 3);
}

.portfolio-card {
  border: 1px solid #e7e9fc;
  border-top: none;
  background: #fff;
  padding: 32px 16px;
}

.our-section-portfolio h3 {
  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 1.2;
}

.our-section-portfolio p {
  letter-spacing: 0.02em;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}
/* footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer p {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.02em;
}

.footer-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}

.footer .accent {
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
}
